node_modules/
.env
*.log
.DS_Store
keys/
*.pem
coverage/
.vscode/
.idea/
dist/
build/
*.swp
*.swo
*~
services/vahanApis/PRODprivate.pem
services/vahanApis/PRODpublic.pem
services/vahanApis/UATprivate.pem
services/vahanApis/UATpublic.pem
